/.vs/
/out/
/build*/
/CMakeFiles/
/CMakeCache.txt
/*.sln
/*.vcxproj*
/*.user

*.exe
*.obj

*.log
*.tmp

.DS_Store
Thumbs.db

/CMakeScripts/
/Testing/
/Makefile
/install_manifest.txt
/cmake_install.cmake
/CTestTestfile.cmake

imgui.ini